openai
python-dotenv
langchain
langchain-openai
langchain-community
langgraph
databricks-langchain
databricks-ai-search
faiss-cpu
langchain_chroma
langchain-postgres
psycopg[binary]
pgvector
ipykernel
tiktoken
mlflow
iprogress
pprintpp
pypdf
bs4
markitdown 
streamlit
streamlit-chat